# Importare un dataset

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("df.csv")

In [3]:
print(df1)

   Unnamed: 0  Height    Names        Food Sex  Weight
0           0     180    Simon       steak   m      85
1           1     165     Kate       pizza   f      65
2           2     170  Francis       pasta   m      68
3           3     164    Laura       pizza   f      45
4           4     163     Mary  vegetables   f      43
5           5     175   Julian       steak   m      72
6           6     166    Rosie     seafood   f      46

In [ ]:
# pd.read_csv("df.csv", header = None)

In [ ]:
# pd.read_csv("df.csv", header = 0)

In [ ]:
# pd.read_csv("df.csv", names = ['var1', 'var2', 'var3',...])

In [ ]:
# pd.read_csv("df.csv", usecols = [0,1,2,3])

In [4]:
df1.head(2)

   Unnamed: 0  Height  Names   Food Sex  Weight
0           0     180  Simon  steak   m      85
1           1     165   Kate  pizza   f      65

In [5]:
df1.tail(3)

   Unnamed: 0  Height   Names        Food Sex  Weight
4           4     163    Mary  vegetables   f      43
5           5     175  Julian       steak   m      72
6           6     166   Rosie     seafood   f      46

In [6]:
df1.describe()

       Unnamed: 0      Height     Weight
count    7.000000    7.000000   7.000000
mean     3.000000  169.000000  60.571429
std      2.160247    6.377042  16.154021
min      0.000000  163.000000  43.000000
25%      1.500000  164.500000  45.500000
50%      3.000000  166.000000  65.000000
75%      4.500000  172.500000  70.000000
max      6.000000  180.000000  85.000000

In [9]:
iris = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [10]:
print(iris.head(5))

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [13]:
iris.to_csv("iris")

In [ ]:
# pd.read_table("indirizzo.estensione")

In [ ]:
# pd.read_excel("indirizzo file.xlsx", "nome foglio")

In [ ]:
# df.to_excel()

In [ ]:
# pd.read_json()

In [ ]:
# pd.read_html()