In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.random.randn(10, 5), columns = ['var1', 'var2', 'var3', 'var4', 'var5'])

In [11]:
df.head()

       var1      var2      var3      var4      var5
0 -0.377113 -0.267110  0.203785  0.481336  2.134301
1  1.083564  0.570407  0.491757 -0.822006  0.198231
2  1.426820 -1.774317 -1.482578  1.489716 -0.977196
3 -1.796116 -0.752526 -0.328814  0.686287 -0.244397
4  0.743340  0.624112 -0.326001  0.512213 -1.246163

In [13]:
df['new_col'] = np.where(df['var1'] > 0, 'positive', 'negative')

In [14]:
df.head()

       var1      var2      var3      var4      var5   new_col
0 -0.377113 -0.267110  0.203785  0.481336  2.134301  negative
1  1.083564  0.570407  0.491757 -0.822006  0.198231  positive
2  1.426820 -1.774317 -1.482578  1.489716 -0.977196  positive
3 -1.796116 -0.752526 -0.328814  0.686287 -0.244397  negative
4  0.743340  0.624112 -0.326001  0.512213 -1.246163  positive

In [ ]:
# https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column

In [ ]:
# https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column