In [1]:
import findspark 
findspark.init("/Users/valentinaporcu/spark/spark-2.4.1-bin-hadoop2.7")
import pyspark 
from pyspark.sql import DataFrameNaFunctions 
from pyspark.sql.functions import lit 
from pyspark.ml.feature import StringIndexer  
from pyspark.ml import Pipeline 
from pyspark.sql import SparkSession
from pyspark.sql import functions
import pandas as pd
import numpy as np

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test1") \
    .config("spark.executor.memory", "6gb") \
    .getOrCreate()

In [3]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x114811c18>

In [4]:
df = spark.createDataFrame([('M', 27, 70, 171), 
                            ('F', 32, 50, 165),
                            ('F', 24, 62, 164),
                            ('M', 25, 68, 169),
                            ('M', 50, 70, 172),
                            ('F', 46, 69, 174),
                            ('M', 36, 70, 173),
                            ('M', 34, 74, 180),
                            ('F', 42, 60, 170),
                            ('F', 39, 63, 175),
                            ('M', 45, 71, 173),
                            ('M', 39, 72, 185),
                            ('M', 24, 74, 174),
                            ('F', 34, 58, 163),
                            ('F', 22, 55, 167),
                            ('M', 19, 70, 167),
                            ('F', 54, 45, 160),
                            ('F', 46, 48, 155),
                            ('M', 62, 75, 179),
                            ('F', 69, 67, 170),
                            ('M', 41, 70, 172),
                            ('M', 34, 74, 177),
                            ('F', 16, 68, 175),
                            ('F', 27, 54, 160),
                            ('M', 38, 65, 166),
                            ('F', 51, 63, 177),
                            ('M', 26, 68, 165),
                            ('F', 31, 69, 171),
                            ('F', 32, 50, 165),
                            ('M', 62, 75, 179),
                            ('M', 67, 84, 190)],
                           ['gender', 'age', 'weigth','heigth'])

In [5]:
# descrizione dati

In [6]:
df

DataFrame[gender: string, age: bigint, weigth: bigint, heigth: bigint]

In [7]:
df.take(2)

[Row(gender='M', age=27, weigth=70, heigth=171),
 Row(gender='F', age=32, weigth=50, heigth=165)]

In [8]:
df.rdd.take(2)

[Row(gender='M', age=27, weigth=70, heigth=171),
 Row(gender='F', age=32, weigth=50, heigth=165)]

In [9]:
df.show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     M| 27|    70|   171|
|     F| 32|    50|   165|
|     F| 24|    62|   164|
|     M| 25|    68|   169|
|     M| 50|    70|   172|
|     F| 46|    69|   174|
|     M| 36|    70|   173|
|     M| 34|    74|   180|
|     F| 42|    60|   170|
|     F| 39|    63|   175|
|     M| 45|    71|   173|
|     M| 39|    72|   185|
|     M| 24|    74|   174|
|     F| 34|    58|   163|
|     F| 22|    55|   167|
|     M| 19|    70|   167|
|     F| 54|    45|   160|
|     F| 46|    48|   155|
|     M| 62|    75|   179|
|     F| 69|    67|   170|
+------+---+------+------+
only showing top 20 rows

In [10]:
df.cache().show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     M| 27|    70|   171|
|     F| 32|    50|   165|
|     F| 24|    62|   164|
|     M| 25|    68|   169|
|     M| 50|    70|   172|
|     F| 46|    69|   174|
|     M| 36|    70|   173|
|     M| 34|    74|   180|
|     F| 42|    60|   170|
|     F| 39|    63|   175|
|     M| 45|    71|   173|
|     M| 39|    72|   185|
|     M| 24|    74|   174|
|     F| 34|    58|   163|
|     F| 22|    55|   167|
|     M| 19|    70|   167|
|     F| 54|    45|   160|
|     F| 46|    48|   155|
|     M| 62|    75|   179|
|     F| 69|    67|   170|
+------+---+------+------+
only showing top 20 rows

In [11]:
df.head()

Row(gender='M', age=27, weigth=70, heigth=171)

In [12]:
df.printSchema()

root
 |-- gender: string (nullable = true)
 |-- age: long (nullable = true)
 |-- weigth: long (nullable = true)
 |-- heigth: long (nullable = true)

In [13]:
df.collect()

[Row(gender='M', age=27, weigth=70, heigth=171),
 Row(gender='F', age=32, weigth=50, heigth=165),
 Row(gender='F', age=24, weigth=62, heigth=164),
 Row(gender='M', age=25, weigth=68, heigth=169),
 Row(gender='M', age=50, weigth=70, heigth=172),
 Row(gender='F', age=46, weigth=69, heigth=174),
 Row(gender='M', age=36, weigth=70, heigth=173),
 Row(gender='M', age=34, weigth=74, heigth=180),
 Row(gender='F', age=42, weigth=60, heigth=170),
 Row(gender='F', age=39, weigth=63, heigth=175),
 Row(gender='M', age=45, weigth=71, heigth=173),
 Row(gender='M', age=39, weigth=72, heigth=185),
 Row(gender='M', age=24, weigth=74, heigth=174),
 Row(gender='F', age=34, weigth=58, heigth=163),
 Row(gender='F', age=22, weigth=55, heigth=167),
 Row(gender='M', age=19, weigth=70, heigth=167),
 Row(gender='F', age=54, weigth=45, heigth=160),
 Row(gender='F', age=46, weigth=48, heigth=155),
 Row(gender='M', age=62, weigth=75, heigth=179),
 Row(gender='F', age=69, weigth=67, heigth=170),
 Row(gender='M', age=41, weigth=70, heigth=172),
 Row(gender='M', age=34, weigth=74, heigth=177),
 Row(gender='F', age=16, weigth=68, heigth=175),
 Row(gender='F', age=27, weigth=54, heigth=160),
 Row(gender='M', age=38, weigth=65, heigth=166),
 Row(gender='F', age=51, weigth=63, heigth=177),
 Row(gender='M', age=26, weigth=68, heigth=165),
 Row(gender='F', age=31, weigth=69, heigth=171),
 Row(gender='F', age=32, weigth=50, heigth=165),
 Row(gender='M', age=62, weigth=75, heigth=179),
 Row(gender='M', age=67, weigth=84, heigth=190)]

In [14]:
df.columns

['gender', 'age', 'weigth', 'heigth']

In [15]:
df.describe()

DataFrame[summary: string, gender: string, age: string, weigth: string, heigth: string]

In [16]:
df.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|gender|               age|           weigth|            heigth|
+-------+------+------------------+-----------------+------------------+
|  count|    31|                31|               31|                31|
|   mean|  null|38.516129032258064|65.51612903225806|171.06451612903226|
| stddev|  null|14.070941612040835|9.164682092111125| 7.483027390350193|
|    min|     F|                16|               45|               155|
|    max|     M|                69|               84|               190|
+-------+------+------------------+-----------------+------------------+

In [17]:
df.describe('gender').show()

+-------+------+
|summary|gender|
+-------+------+
|  count|    31|
|   mean|  null|
| stddev|  null|
|    min|     F|
|    max|     M|
+-------+------+

In [18]:
df.select('gender').show()

+------+
|gender|
+------+
|     M|
|     F|
|     F|
|     M|
|     M|
|     F|
|     M|
|     M|
|     F|
|     F|
|     M|
|     M|
|     M|
|     F|
|     F|
|     M|
|     F|
|     F|
|     M|
|     F|
+------+
only showing top 20 rows

In [19]:
df.toPandas()

   gender  age  weigth  heigth
0       M   27      70     171
1       F   32      50     165
2       F   24      62     164
3       M   25      68     169
4       M   50      70     172
5       F   46      69     174
6       M   36      70     173
7       M   34      74     180
8       F   42      60     170
9       F   39      63     175
10      M   45      71     173
11      M   39      72     185
12      M   24      74     174
13      F   34      58     163
14      F   22      55     167
15      M   19      70     167
16      F   54      45     160
17      F   46      48     155
18      M   62      75     179
19      F   69      67     170
20      M   41      70     172
21      M   34      74     177
22      F   16      68     175
23      F   27      54     160
24      M   38      65     166
25      F   51      63     177
26      M   26      68     165
27      F   31      69     171
28      F   32      50     165
29      M   62      75     179
30      M   67      84     190

In [20]:
# manipolazione dati

In [21]:
df = df.withColumn('gender',functions.when(df['gender']=='F', 0).otherwise(1))

In [22]:
df2 = df.select('heigth', 'weigth', 'gender')

In [23]:
df2.show(5)

+------+------+------+
|heigth|weigth|gender|
+------+------+------+
|   171|    70|     1|
|   165|    50|     0|
|   164|    62|     0|
|   169|    68|     1|
|   172|    70|     1|
+------+------+------+
only showing top 5 rows

In [26]:
df2.select("heigth", "weigth", "gender").collect()

[Row(heigth=171, weigth=70, gender=1),
 Row(heigth=165, weigth=50, gender=0),
 Row(heigth=164, weigth=62, gender=0),
 Row(heigth=169, weigth=68, gender=1),
 Row(heigth=172, weigth=70, gender=1),
 Row(heigth=174, weigth=69, gender=0),
 Row(heigth=173, weigth=70, gender=1),
 Row(heigth=180, weigth=74, gender=1),
 Row(heigth=170, weigth=60, gender=0),
 Row(heigth=175, weigth=63, gender=0),
 Row(heigth=173, weigth=71, gender=1),
 Row(heigth=185, weigth=72, gender=1),
 Row(heigth=174, weigth=74, gender=1),
 Row(heigth=163, weigth=58, gender=0),
 Row(heigth=167, weigth=55, gender=0),
 Row(heigth=167, weigth=70, gender=1),
 Row(heigth=160, weigth=45, gender=0),
 Row(heigth=155, weigth=48, gender=0),
 Row(heigth=179, weigth=75, gender=1),
 Row(heigth=170, weigth=67, gender=0),
 Row(heigth=172, weigth=70, gender=1),
 Row(heigth=177, weigth=74, gender=1),
 Row(heigth=175, weigth=68, gender=0),
 Row(heigth=160, weigth=54, gender=0),
 Row(heigth=166, weigth=65, gender=1),
 Row(heigth=177, weigth=63, gender=0),
 Row(heigth=165, weigth=68, gender=1),
 Row(heigth=171, weigth=69, gender=0),
 Row(heigth=165, weigth=50, gender=0),
 Row(heigth=179, weigth=75, gender=1),
 Row(heigth=190, weigth=84, gender=1)]

In [27]:
# selezionare delle colonne

In [28]:
df['age']

Column<b'age'>

In [29]:
type(df['age'])

pyspark.sql.column.Column

In [30]:
df.select('age')

DataFrame[age: bigint]

In [31]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [32]:
df.select('age').show()

+---+
|age|
+---+
| 27|
| 32|
| 24|
| 25|
| 50|
| 46|
| 36|
| 34|
| 42|
| 39|
| 45|
| 39|
| 24|
| 34|
| 22|
| 19|
| 54|
| 46|
| 62|
| 69|
+---+
only showing top 20 rows

In [33]:
df.select(['age','gender'])

DataFrame[age: bigint, gender: int]

In [34]:
df.select(['age','gender']).show()

+---+------+
|age|gender|
+---+------+
| 27|     1|
| 32|     0|
| 24|     0|
| 25|     1|
| 50|     1|
| 46|     0|
| 36|     1|
| 34|     1|
| 42|     0|
| 39|     0|
| 45|     1|
| 39|     1|
| 24|     1|
| 34|     0|
| 22|     0|
| 19|     1|
| 54|     0|
| 46|     0|
| 62|     1|
| 69|     0|
+---+------+
only showing top 20 rows

In [35]:
# creare una nuova colonna

In [36]:
df.withColumn('heigth',df['heigth']/100).show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     1| 27|    70|  1.71|
|     0| 32|    50|  1.65|
|     0| 24|    62|  1.64|
|     1| 25|    68|  1.69|
|     1| 50|    70|  1.72|
|     0| 46|    69|  1.74|
|     1| 36|    70|  1.73|
|     1| 34|    74|   1.8|
|     0| 42|    60|   1.7|
|     0| 39|    63|  1.75|
|     1| 45|    71|  1.73|
|     1| 39|    72|  1.85|
|     1| 24|    74|  1.74|
|     0| 34|    58|  1.63|
|     0| 22|    55|  1.67|
|     1| 19|    70|  1.67|
|     0| 54|    45|   1.6|
|     0| 46|    48|  1.55|
|     1| 62|    75|  1.79|
|     0| 69|    67|   1.7|
+------+---+------+------+
only showing top 20 rows

In [37]:
df.show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     1| 27|    70|   171|
|     0| 32|    50|   165|
|     0| 24|    62|   164|
|     1| 25|    68|   169|
|     1| 50|    70|   172|
|     0| 46|    69|   174|
|     1| 36|    70|   173|
|     1| 34|    74|   180|
|     0| 42|    60|   170|
|     0| 39|    63|   175|
|     1| 45|    71|   173|
|     1| 39|    72|   185|
|     1| 24|    74|   174|
|     0| 34|    58|   163|
|     0| 22|    55|   167|
|     1| 19|    70|   167|
|     0| 54|    45|   160|
|     0| 46|    48|   155|
|     1| 62|    75|   179|
|     0| 69|    67|   170|
+------+---+------+------+
only showing top 20 rows

In [38]:
# rinominare una colonna

In [39]:
df.withColumnRenamed('weigth','new_col').show()

+------+---+-------+------+
|gender|age|new_col|heigth|
+------+---+-------+------+
|     1| 27|     70|   171|
|     0| 32|     50|   165|
|     0| 24|     62|   164|
|     1| 25|     68|   169|
|     1| 50|     70|   172|
|     0| 46|     69|   174|
|     1| 36|     70|   173|
|     1| 34|     74|   180|
|     0| 42|     60|   170|
|     0| 39|     63|   175|
|     1| 45|     71|   173|
|     1| 39|     72|   185|
|     1| 24|     74|   174|
|     0| 34|     58|   163|
|     0| 22|     55|   167|
|     1| 19|     70|   167|
|     0| 54|     45|   160|
|     0| 46|     48|   155|
|     1| 62|     75|   179|
|     0| 69|     67|   170|
+------+---+-------+------+
only showing top 20 rows

In [40]:
# selezionare una parte dei casi

In [41]:
df.filter("weigth<70").show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     0| 32|    50|   165|
|     0| 24|    62|   164|
|     1| 25|    68|   169|
|     0| 46|    69|   174|
|     0| 42|    60|   170|
|     0| 39|    63|   175|
|     0| 34|    58|   163|
|     0| 22|    55|   167|
|     0| 54|    45|   160|
|     0| 46|    48|   155|
|     0| 69|    67|   170|
|     0| 16|    68|   175|
|     0| 27|    54|   160|
|     1| 38|    65|   166|
|     0| 51|    63|   177|
|     1| 26|    68|   165|
|     0| 31|    69|   171|
|     0| 32|    50|   165|
+------+---+------+------+

In [42]:
df.filter("weigth<70").select('gender').show()

+------+
|gender|
+------+
|     0|
|     0|
|     1|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     0|
|     1|
|     0|
|     1|
|     0|
|     0|
+------+

In [43]:
df.filter("weigth<70").select(['gender','age']).show()

+------+---+
|gender|age|
+------+---+
|     0| 32|
|     0| 24|
|     1| 25|
|     0| 46|
|     0| 42|
|     0| 39|
|     0| 34|
|     0| 22|
|     0| 54|
|     0| 46|
|     0| 69|
|     0| 16|
|     0| 27|
|     1| 38|
|     0| 51|
|     1| 26|
|     0| 31|
|     0| 32|
+------+---+

In [44]:
df.filter( (df["age"] < 20) | (df['weigth'] > 70) ).show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     1| 34|    74|   180|
|     1| 45|    71|   173|
|     1| 39|    72|   185|
|     1| 24|    74|   174|
|     1| 19|    70|   167|
|     1| 62|    75|   179|
|     1| 34|    74|   177|
|     0| 16|    68|   175|
|     1| 62|    75|   179|
|     1| 67|    84|   190|
+------+---+------+------+

In [45]:
df.filter(df["heigth"] == 180).collect()

[Row(gender=1, age=34, weigth=74, heigth=180)]

In [46]:
df.groupBy('gender').mean().show()

+------+-----------+------------------+------------------+-----------+
|gender|avg(gender)|          avg(age)|       avg(weigth)|avg(heigth)|
+------+-----------+------------------+------------------+-----------+
|     1|        1.0|           39.3125|            71.875|      174.5|
|     0|        0.0|37.666666666666664|58.733333333333334|      167.4|
+------+-----------+------------------+------------------+-----------+

In [47]:
df.groupBy('gender').sum().show()

+------+-----------+--------+-----------+-----------+
|gender|sum(gender)|sum(age)|sum(weigth)|sum(heigth)|
+------+-----------+--------+-----------+-----------+
|     1|         16|     629|       1150|       2792|
|     0|          0|     565|        881|       2511|
+------+-----------+--------+-----------+-----------+

In [48]:
df.groupBy('gender').max().show()

+------+-----------+--------+-----------+-----------+
|gender|max(gender)|max(age)|max(weigth)|max(heigth)|
+------+-----------+--------+-----------+-----------+
|     1|          1|      67|         84|        190|
|     0|          0|      69|         69|        177|
+------+-----------+--------+-----------+-----------+

In [49]:
df.groupBy('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|     1|   16|
|     0|   15|
+------+-----+

In [50]:
spark.stop()