In [1]:
import findspark 
findspark.init("/Users/valentinaporcu/spark/spark-2.4.1-bin-hadoop2.7")
import pyspark 
from pyspark.sql import DataFrameNaFunctions 
from pyspark.sql.functions import lit 
from pyspark.ml.feature import StringIndexer  
from pyspark.ml import Pipeline 
from pyspark.sql import SparkSession
from pyspark.sql import functions
from pyspark.sql.functions import mean
import pandas as pd
import numpy as np

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("data cleaning") \
    .config("spark.executor.memory", "6gb") \
    .getOrCreate()

In [3]:
df = spark.createDataFrame([
        (170, 56, 28,   'M',  100000),
        (167, 64, 45,   'M',  None),
        (None , 52, None, None, None),
        (172, 69, 33,   'M',  None),
        (178, 72, 54,   'F',  None),
        (168, 59, None, 'F',  None),
        (180, 74, 42,   'M',  76000),
        (172, 69, 33,   'M',  None),
        (170, 56, 28,   'M',  100000)], 
    ['height', 'weight', 'age', 'gender', 'income'])

In [4]:
# dati duplicati

In [5]:
print('Numero di righe: {0}'.format(df.count()))
print('Numero di casi non duplicati: {0}'.format(df.distinct().count()))

Count of rows: 9
Count of distinct rows: 7

In [6]:
# rimuovere i duplicati

In [7]:
df = df.dropDuplicates()
df.show()

+------+------+----+------+------+
|height|weight| age|gender|income|
+------+------+----+------+------+
|   170|    56|  28|     M|100000|
|   178|    72|  54|     F|  null|
|   168|    59|null|     F|  null|
|   172|    69|  33|     M|  null|
|  null|    52|null|  null|  null|
|   180|    74|  42|     M| 76000|
|   167|    64|  45|     M|  null|
+------+------+----+------+------+

In [9]:
df.count()

7

In [ ]:
# dati mancanti

In [10]:
df.na.drop().show()

+------+------+---+------+------+
|height|weight|age|gender|income|
+------+------+---+------+------+
|   170|    56| 28|     M|100000|
|   180|    74| 42|     M| 76000|
+------+------+---+------+------+

In [11]:
df.na.drop(how ='any').show()

+------+------+---+------+------+
|height|weight|age|gender|income|
+------+------+---+------+------+
|   170|    56| 28|     M|100000|
|   180|    74| 42|     M| 76000|
+------+------+---+------+------+

La struttura della funzione drop() Ã¨ la seguente:

df.na.drop(how='any', thresh=None, subset=None)

* parametro how: 'any' or 'all'.

    se 'any', cancella ogni riga che abbia anche solo un dato mancante 
    se 'all', cancella una riga solo se tutti i dati sono mancanti

In [12]:
df.na.drop(how ='all').show()

+------+------+----+------+------+
|height|weight| age|gender|income|
+------+------+----+------+------+
|   170|    56|  28|     M|100000|
|   178|    72|  54|     F|  null|
|   168|    59|null|     F|  null|
|   172|    69|  33|     M|  null|
|  null|    52|null|  null|  null|
|   180|    74|  42|     M| 76000|
|   167|    64|  45|     M|  null|
+------+------+----+------+------+

In [13]:
df.na.drop(subset=['income']).show()

+------+------+---+------+------+
|height|weight|age|gender|income|
+------+------+---+------+------+
|   170|    56| 28|     M|100000|
|   180|    74| 42|     M| 76000|
+------+------+---+------+------+

In [ ]:
df.na.fill("valore di sostituzione").show()

In [ ]:
df.na.fill(0).show()

In [ ]:
df.na.fill("valore di sostituzione", subset=['var1']).show()

In [ ]:
media_var1 = df.select(mean(df['var1'])).collect()

In [ ]:
media_var1

In [ ]:
df.na.fill(media, ['var1']).show()

In [ ]:
# rimuovere una colonna che non serve per analisi successive

In [ ]:
df = df.drop('var1')

In [ ]:
# chiudiamo la sessione

In [ ]:
spark.stop()