In [20]:
import findspark 
findspark.init("/Users/valentinaporcu/spark/spark-2.4.1-bin-hadoop2.7")
import pyspark 
from pyspark.sql import DataFrameNaFunctions 
from pyspark.sql.functions import lit 
from pyspark.ml.feature import StringIndexer  
from pyspark.ml import Pipeline 
from pyspark.sql import SparkSession
from pyspark.sql import functions
import pandas as pd
import numpy as np

In [21]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("SQL_test") \
    .getOrCreate()

In [22]:
df = spark.createDataFrame([('M', 27, 70, 171), 
                            ('F', 32, 50, 165),
                            ('F', 24, 62, 164),
                            ('M', 25, 68, 169),
                            ('M', 50, 70, 172),
                            ('F', 46, 69, 174),
                            ('M', 36, 70, 173),
                            ('M', 34, 74, 180),
                            ('F', 42, 60, 170),
                            ('F', 39, 63, 175),
                            ('M', 45, 71, 173),
                            ('M', 39, 72, 185),
                            ('M', 24, 74, 174),
                            ('F', 34, 58, 163),
                            ('F', 22, 55, 167),
                            ('M', 19, 70, 167),
                            ('F', 54, 45, 160),
                            ('F', 46, 48, 155),
                            ('M', 62, 75, 179),
                            ('F', 69, 67, 170),
                            ('M', 41, 70, 172),
                            ('M', 34, 74, 177),
                            ('F', 16, 68, 175),
                            ('F', 27, 54, 160),
                            ('M', 38, 65, 166),
                            ('F', 51, 63, 177),
                            ('M', 26, 68, 165),
                            ('F', 31, 69, 171),
                            ('F', 32, 50, 165),
                            ('M', 62, 75, 179),
                            ('M', 67, 84, 190)],
                           ['gender', 'age', 'weigth','heigth'])

In [23]:
df.createOrReplaceTempView('table1')

In [24]:
spark.sql('''
    SELECT gender
        , age
        , weigth
    FROM table1
''').show()

+------+---+------+
|gender|age|weigth|
+------+---+------+
|     M| 27|    70|
|     F| 32|    50|
|     F| 24|    62|
|     M| 25|    68|
|     M| 50|    70|
|     F| 46|    69|
|     M| 36|    70|
|     M| 34|    74|
|     F| 42|    60|
|     F| 39|    63|
|     M| 45|    71|
|     M| 39|    72|
|     M| 24|    74|
|     F| 34|    58|
|     F| 22|    55|
|     M| 19|    70|
|     F| 54|    45|
|     F| 46|    48|
|     M| 62|    75|
|     F| 69|    67|
+------+---+------+
only showing top 20 rows

In [25]:
sql_results = spark.sql("SELECT * FROM table1")

In [26]:
sql_results.show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     M| 27|    70|   171|
|     F| 32|    50|   165|
|     F| 24|    62|   164|
|     M| 25|    68|   169|
|     M| 50|    70|   172|
|     F| 46|    69|   174|
|     M| 36|    70|   173|
|     M| 34|    74|   180|
|     F| 42|    60|   170|
|     F| 39|    63|   175|
|     M| 45|    71|   173|
|     M| 39|    72|   185|
|     M| 24|    74|   174|
|     F| 34|    58|   163|
|     F| 22|    55|   167|
|     M| 19|    70|   167|
|     F| 54|    45|   160|
|     F| 46|    48|   155|
|     M| 62|    75|   179|
|     F| 69|    67|   170|
+------+---+------+------+
only showing top 20 rows

In [31]:
spark.sql("SELECT * FROM table1 WHERE age=32").show()

+------+---+------+------+
|gender|age|weigth|heigth|
+------+---+------+------+
|     F| 32|    50|   165|
|     F| 32|    50|   165|
+------+---+------+------+

In [32]:
spark.sql("SELECT weigth, gender from table1 WHERE age = 54").show()

+------+------+
|weigth|gender|
+------+------+
|    45|     F|
+------+------+

In [33]:
spark.stop()