# Codifica delle variabili categoriche

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Names': ['Simon', 'Kate', 'Francis', 'Laura', 'Mary', 'Julian', 'Rosie', 'Simon', 'Laura'],
                   'Height':[180, 165, 170, 164, 163, 175, 166, 180, 164],
                   'Weight':[85, 65, 68, 45, 43, 72, 46, 85, 45],
                   'Pref_food': ['steak', 'pizza', 'pasta', 'pizza', 'vegetables', 'steak', 'seafood', 'steak', 'pizza'],
                   'Sex': ['m','f','m','f','f','m','f', 'm', 'f']})

In [3]:
print(df)

   Height    Names   Pref_food Sex  Weight
0     180    Simon       steak   m      85
1     165     Kate       pizza   f      65
2     170  Francis       pasta   m      68
3     164    Laura       pizza   f      45
4     163     Mary  vegetables   f      43
5     175   Julian       steak   m      72
6     166    Rosie     seafood   f      46
7     180    Simon       steak   m      85
8     164    Laura       pizza   f      45

In [4]:
df.dtypes

Height        int64
Names        object
Pref_food    object
Sex          object
Weight        int64
dtype: object

In [4]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
df.iloc[:, 3] = LabelEncoder().fit_transform(df.iloc[:, 3])

In [ ]:
# vediamo la variabile

In [7]:
print(df['Sex'])

0    1
1    0
2    1
3    0
4    0
5    1
6    0
7    1
8    0
Name: Sex, dtype: int64

In [8]:
print(df)

   Height    Names   Pref_food  Sex  Weight
0     180    Simon       steak    1      85
1     165     Kate       pizza    0      65
2     170  Francis       pasta    1      68
3     164    Laura       pizza    0      45
4     163     Mary  vegetables    0      43
5     175   Julian       steak    1      72
6     166    Rosie     seafood    0      46
7     180    Simon       steak    1      85
8     164    Laura       pizza    0      45

In [9]:
df.iloc[:, 2] = LabelEncoder().fit_transform(df.iloc[:, 2])

In [ ]:
print(df['Pref_food'])

In [10]:
print(df)

   Height    Names  Pref_food  Sex  Weight
0     180    Simon          3    1      85
1     165     Kate          1    0      65
2     170  Francis          0    1      68
3     164    Laura          1    0      45
4     163     Mary          4    0      43
5     175   Julian          3    1      72
6     166    Rosie          2    0      46
7     180    Simon          3    1      85
8     164    Laura          1    0      45