# Creazione di variabili dummy

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Names': ['Simon', 'Kate', 'Francis', 'Laura', 'Mary', 'Julian', 'Rosie', 'Simon', 'Laura'],
                   'Height':[180, 165, 170, 164, 163, 175, 166, 180, 164],
                   'Weight':[85, 65, 68, 45, 43, 72, 46, 85, 45],
                   'Pref_food': ['steak', 'pizza', 'pasta', 'pizza', 'vegetables', 'steak', 'seafood', 'steak', 'pizza'],
                   'Sex': ['m','f','m','f','f','m','f', 'm', 'f']})

In [3]:
print(df)

   Height    Names   Pref_food Sex  Weight
0     180    Simon       steak   m      85
1     165     Kate       pizza   f      65
2     170  Francis       pasta   m      68
3     164    Laura       pizza   f      45
4     163     Mary  vegetables   f      43
5     175   Julian       steak   m      72
6     166    Rosie     seafood   f      46
7     180    Simon       steak   m      85
8     164    Laura       pizza   f      45

In [4]:
df_dummy = pd.get_dummies(df['Sex'], prefix = 'Sex')

In [5]:
print(df_dummy)

   Sex_f  Sex_m
0      0      1
1      1      0
2      0      1
3      1      0
4      1      0
5      0      1
6      1      0
7      0      1
8      1      0

In [6]:
df.join(df_dummy)

   Height    Names   Pref_food Sex  Weight  Sex_f  Sex_m
0     180    Simon       steak   m      85      0      1
1     165     Kate       pizza   f      65      1      0
2     170  Francis       pasta   m      68      0      1
3     164    Laura       pizza   f      45      1      0
4     163     Mary  vegetables   f      43      1      0
5     175   Julian       steak   m      72      0      1
6     166    Rosie     seafood   f      46      1      0
7     180    Simon       steak   m      85      0      1
8     164    Laura       pizza   f      45      1      0

In [8]:
df2 = df.join(df_dummy)

In [9]:
print(df2.head(2))

   Height  Names Pref_food Sex  Weight  Sex_f  Sex_m
0     180  Simon     steak   m      85      0      1
1     165   Kate     pizza   f      65      1      0

In [11]:
del df2['Sex']

In [12]:
print(df2.head(2))

   Height  Names Pref_food  Weight  Sex_f  Sex_m
0     180  Simon     steak      85      0      1
1     165   Kate     pizza      65      1      0