# Creare dei dataset casuali

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.randn(10, 5))

In [3]:
print(df1)

          0         1         2         3         4
0 -0.752583 -0.481557 -0.476188 -0.619046  0.216238
1  0.646482 -0.144481  0.160743  0.731804 -0.967580
2  0.244500  0.456450  0.007102 -1.097232  1.298412
3  1.021687  0.046134 -0.117679 -1.377383 -1.082617
4  0.665970  0.190434 -0.190313 -0.478875  1.297322
5  1.112261  2.067804  0.746534  0.666430  0.161280
6  0.636905  1.831964 -0.356721  0.811617 -1.353691
7  0.665022  0.616806  1.041557  0.375933  1.430716
8 -1.593353  0.559061  0.282128 -0.867772 -0.180694
9  0.328177  0.329725 -0.800654 -1.182870  0.127316

In [4]:
np.random.seed(12345)
pd.DataFrame(np.random.randn(5, 3))

          0         1         2
0 -0.204708  0.478943 -0.519439
1 -0.555730  1.965781  1.393406
2  0.092908  0.281746  0.769023
3  1.246435  1.007189 -1.296221
4  0.274992  0.228913  1.352917

In [5]:
np.random.seed(12345)
pd.DataFrame(np.random.randn(5, 3))

          0         1         2
0 -0.204708  0.478943 -0.519439
1 -0.555730  1.965781  1.393406
2  0.092908  0.281746  0.769023
3  1.246435  1.007189 -1.296221
4  0.274992  0.228913  1.352917

In [ ]:
# binomiale

In [6]:
pd.DataFrame(np.random.binomial(100, 0.5, (10, 5)))

    0   1   2   3   4
0  42  52  56  44  48
1  41  57  52  52  45
2  48  43  55  46  47
3  51  44  48  60  49
4  53  51  44  49  51
5  49  48  52  42  47
6  56  48  42  53  43
7  56  51  56  46  50
8  42  40  55  46  46
9  43  54  51  53  41

In [ ]:
# poisson

In [7]:
pd.DataFrame(np.random.poisson(100, (10,5)))

     0    1    2    3    4
0  124   89   81   99  109
1   88  108   93   92  112
2   98   96  102  107  111
3  102   99   91   96   93
4   88   92  105  105   94
5   91   73   91  104  109
6   94  102   95   85  117
7   95  100   98  103  109
8  109  107   98  111   95
9  115  109  101  108   95

In [ ]:
# uniforme

In [8]:
pd.DataFrame(np.random.uniform(1, 100, (10,5)))

           0          1          2          3          4
0   1.095496  60.158793  68.573593  37.261795  40.253387
1  48.060555  58.526910  14.576576  99.942003  51.225394
2  49.813604  19.500601  30.312713  80.052991  30.183051
3  70.015038  28.022964  91.340317  30.555384  89.096117
4  94.725507  17.722369  36.569849  68.535553  92.217805
5  15.347510  10.887564  41.748675  97.537412   5.109148
6  19.504515  61.268031   9.634653  32.312527  61.403442
7  20.918277  69.497874  25.218070  68.356798  49.107835
8  26.788986  28.991292  90.639710  28.308426  84.273656
9  20.446013  33.727760  94.716359  51.101113  40.938170

In [ ]:
# np.random.uniform(Shift+Tab)