# Tipi di dati

In [2]:
# type()

In [4]:
x = 12

In [6]:
type(x)

int

In [8]:
y = 12.5

In [10]:
type(y)

float

In [12]:
str1 = "test"

In [13]:
type(str1)

str

# Tuple

In [15]:
t1 = (1,2,3,4,5)

In [16]:
type(t1)

tuple

In [17]:
t2 = ("a", "b", "c", "d", "e")

In [18]:
type(t2)

tuple

In [19]:
t2[0]

'a'

In [20]:
t2[1]

'b'

In [21]:
t2[-1]

'e'

In [22]:
t2[1:3]

('b', 'c')

In [23]:
t2['a'] = 15

TypeError: 'tuple' object does not support item assignment

In [24]:
dir(t2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [26]:
t2 = t2.__add__(('xyz',))

In [27]:
t2

('a', 'b', 'c', 'd', 'e', 'xyz')

In [28]:
print(t2)

('a', 'b', 'c', 'd', 'e', 'xyz')

In [29]:
t3 = (1,2,3,4,5, "test", 20.75, "string2")

In [30]:
print(t3)

(1, 2, 3, 4, 5, 'test', 20.75, 'string2')

In [31]:
type(t3)

tuple

# Liste

In [32]:
list1 = ["jan", "feb", "mar"]

In [33]:
print(list1)

['jan', 'feb', 'mar']

In [34]:
type(list1)

list

In [35]:
len(list1)

3

In [36]:
list1[0]

'jan'

In [37]:
list1[-1]

'mar'

In [38]:
list[5]

TypeError: 'type' object is not subscriptable

In [39]:
list2 = ["a", "b", "c", "d", "e", "f"]

In [40]:
print(list2)

['a', 'b', 'c', 'd', 'e', 'f']

In [41]:
list2[2:]

['c', 'd', 'e', 'f']

In [43]:
list2[:4]

['a', 'b', 'c', 'd']

In [44]:
list2*2

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']

In [58]:
list3 = list1 + list2

In [46]:
print(list3)

['jan', 'feb', 'mar', 'a', 'b', 'c', 'd', 'e', 'f']

In [47]:
list4 = list3[2:4]

In [48]:
print(list4)

['mar', 'a']

In [59]:
del list3[0]

In [60]:
print(list3)

['feb', 'mar', 'a', 'b', 'c', 'd', 'e', 'f']

In [51]:
dir(list3)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
list3.append(7)

In [62]:
print(list3)

['feb', 'mar', 'a', 'b', 'c', 'd', 'e', 'f', 7]

In [63]:
list3.pop()

7

In [64]:
print(list3)

['feb', 'mar', 'a', 'b', 'c', 'd', 'e', 'f']

In [67]:
list5 = [ 2, 21, 32, 1, 24, 45, 67, 128, 6]

In [68]:
list5.sort()

In [69]:
list5

[1, 2, 6, 21, 24, 32, 45, 67, 128]

In [70]:
list5.extend([34, 56, 127,])

In [71]:
print(list5)

[1, 2, 6, 21, 24, 32, 45, 67, 128, 34, 56, 127]

In [72]:
list5.clear()

In [73]:
list5

[]

In [74]:
list6 = [(1,2), (3,5), (12, 15)]

In [75]:
list6[0]

(1, 2)

In [76]:
list6[0][1]

2

# Dizionari

In [77]:
dict1 = {'Laura': 163, 'Francis': 169, 'Kate': 165}

In [78]:
type(dict1)

dict

In [81]:
print(dict1['Francis'])

169

In [82]:
dict1['Joseph'] = '180'

In [83]:
print(dict1)

{'Laura': 163, 'Francis': 169, 'Kate': 165, 'Joseph': '180'}

In [84]:
dict1.keys()

dict_keys(['Laura', 'Francis', 'Kate', 'Joseph'])

In [85]:
dict1.values()

dict_values([163, 169, 165, '180'])

In [87]:
del(dict1['Kate'])

In [88]:
print(dict1)

{'Laura': 163, 'Francis': 169, 'Joseph': '180'}

In [89]:
len(dict1)

3

In [90]:
dir(dict1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Set

In [91]:
set1 = {1,4,5,6,8}

In [92]:
print(set1)

{1, 4, 5, 6, 8}

In [93]:
type(set1)

set

In [94]:
len(set1)

5

In [95]:
set1[0]

TypeError: 'set' object does not support indexing

In [96]:
5 in set1

True

In [97]:
128 in set1

False

In [98]:
set2 = {1,1,1,1,1,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,}

In [100]:
print(set2)

{1, 2, 3, 4, 5}

# Stringhe

In [101]:
string1 = 'test1'

In [102]:
string2 = "test2"

In [104]:
string3 = 'I'd like to code in Python'

SyntaxError: invalid syntax (<ipython-input-104-69c28aa86175>, line 1)

In [105]:
string3 = "I'd like to code in Python"

In [106]:
string3

"I'd like to code in Python"

In [107]:
string1 + string2

'test1test2'

In [108]:
string3 * 4

"I'd like to code in PythonI'd like to code in PythonI'd like to code in PythonI'd like to code in Python"

In [109]:
string5 = """
commento1
commento2
commento3
"""

In [110]:
string5

'\ncommento1\ncommento2\ncommento3\n'

In [111]:
dir(string1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [112]:
len(string1)

5

In [113]:
type(string2)

str

In [114]:
string1[0]

't'

In [115]:
string1[-1]

'1'

In [117]:
string1[1:3]

'es'

In [119]:
string1.capitalize()

'Test1'

In [120]:
string3.upper()

"I'D LIKE TO CODE IN PYTHON"

In [ ]:
# find, index e count

In [126]:
string3.find("on")

24

In [128]:
string3.replace("to code", "to develop")

"I'd like to develop in Python"

In [129]:
string3.split()

["I'd", 'like', 'to', 'code', 'in', 'Python']

In [130]:
print(string3)

I'd like to code in Python