In [1]:
import pandas as pd
import numpy as np
from keras.utils import np_utils
import keras
from keras.models import Sequential
from keras import layers
from keras.optimizers import SGD

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

/Users/valentinaporcu/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# carichiamo i dati del dataset iris

In [3]:
df =  pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header = 0)

In [4]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', "Class"]

In [5]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width        Class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [6]:
# dividiamo i dati dal fattore di classificazione

In [7]:
df, cl = (df.iloc[:, 0:4], df['Class'])

In [8]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4          0.2
1           4.7          3.2           1.3          0.2
2           4.6          3.1           1.5          0.2
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [9]:
cl.head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Class, dtype: object

In [10]:
cl.value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: Class, dtype: int64

In [11]:
set(cl)

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [12]:
# normalizziamo il dataset

In [13]:
df_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
df1 = df_scaler.fit_transform(df)

In [14]:
df1.shape

(149, 4)

In [15]:
df1.dtype

dtype('float64')

In [16]:
cl1 = LabelEncoder().fit_transform(cl)

In [17]:
cl1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [18]:
# dividiamo in train set e test set

In [19]:
x_train, x_test, y_train, y_test = train_test_split(df1, cl1, test_size = 0.3)

In [20]:
x_train.shape

(104, 4)

In [21]:
y_train.shape

(104,)

In [22]:
x_test.shape

(45, 4)

In [23]:
y_test.shape

(45,)

In [24]:
# prepariamo il fattore di classificazione

In [25]:
y_train = np_utils.to_categorical(y_train, 3)
y_test = np_utils.to_categorical(y_test, 3)

In [26]:
# creiamo il modello neurale

In [27]:
model = Sequential()
model.add(layers.Dense(50, input_dim=x_train.shape[1], activation='relu'))
model.add(layers.Dense(40, activation='relu'))
model.add(layers.Dense(30, activation='relu'))
model.add(layers.Dense(25, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

In [28]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 50)                250
_________________________________________________________________
dense_2 (Dense)              (None, 40)                2040
_________________________________________________________________
dense_3 (Dense)              (None, 30)                1230
_________________________________________________________________
dense_4 (Dense)              (None, 25)                775
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 78
=================================================================
Total params: 4,373
Trainable params: 4,373
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.compile(loss='categorical_crossentropy',
              optimizer= 'adam',
              metrics=['accuracy'])

In [30]:
history = model.fit(x_train, y_train,
                    batch_size = 10, epochs = 50,
                    verbose = 1, validation_split = 0.3)

Train on 72 samples, validate on 32 samples
Epoch 1/50
72/72 [==============================] - 0s 3ms/step - loss: 1.1103 - acc: 0.2361 - val_loss: 1.0854 - val_acc: 0.7813
Epoch 2/50
72/72 [==============================] - 0s 202us/step - loss: 1.0797 - acc: 0.6528 - val_loss: 1.0670 - val_acc: 0.7500
Epoch 3/50
72/72 [==============================] - 0s 224us/step - loss: 1.0523 - acc: 0.7222 - val_loss: 1.0453 - val_acc: 0.5313
Epoch 4/50
72/72 [==============================] - 0s 215us/step - loss: 1.0212 - acc: 0.6806 - val_loss: 1.0145 - val_acc: 0.5313
Epoch 5/50
72/72 [==============================] - 0s 211us/step - loss: 0.9800 - acc: 0.6806 - val_loss: 0.9744 - val_acc: 0.5313
Epoch 6/50
72/72 [==============================] - 0s 215us/step - loss: 0.9239 - acc: 0.6806 - val_loss: 0.9158 - val_acc: 0.5313
Epoch 7/50
72/72 [==============================] - 0s 210us/step - loss: 0.8594 - acc: 0.6806 - val_loss: 0.8579 - val_acc: 0.5313
Epoch 8/50
72/72 [==============================] - 0s 230us/step - loss: 0.7673 - acc: 0.6806 - val_loss: 0.7828 - val_acc: 0.5313
Epoch 9/50
72/72 [==============================] - 0s 205us/step - loss: 0.6816 - acc: 0.6806 - val_loss: 0.7155 - val_acc: 0.5313
Epoch 10/50
72/72 [==============================] - 0s 223us/step - loss: 0.6036 - acc: 0.6806 - val_loss: 0.6516 - val_acc: 0.5313
Epoch 11/50
72/72 [==============================] - 0s 209us/step - loss: 0.5337 - acc: 0.6806 - val_loss: 0.5680 - val_acc: 0.5313
Epoch 12/50
72/72 [==============================] - 0s 217us/step - loss: 0.4907 - acc: 0.7639 - val_loss: 0.4961 - val_acc: 0.7500
Epoch 13/50
72/72 [==============================] - 0s 205us/step - loss: 0.4401 - acc: 0.7917 - val_loss: 0.4465 - val_acc: 0.9062
Epoch 14/50
72/72 [==============================] - 0s 223us/step - loss: 0.4062 - acc: 0.8056 - val_loss: 0.4250 - val_acc: 0.8750
Epoch 15/50
72/72 [==============================] - 0s 249us/step - loss: 0.3906 - acc: 0.8889 - val_loss: 0.3672 - val_acc: 0.9687
Epoch 16/50
72/72 [==============================] - 0s 229us/step - loss: 0.3636 - acc: 0.7917 - val_loss: 0.4346 - val_acc: 0.6562
Epoch 17/50
72/72 [==============================] - 0s 223us/step - loss: 0.3454 - acc: 0.8194 - val_loss: 0.3033 - val_acc: 0.9375
Epoch 18/50
72/72 [==============================] - 0s 220us/step - loss: 0.3032 - acc: 0.9444 - val_loss: 0.2912 - val_acc: 0.9687
Epoch 19/50
72/72 [==============================] - 0s 221us/step - loss: 0.2696 - acc: 0.9583 - val_loss: 0.2519 - val_acc: 0.9687
Epoch 20/50
72/72 [==============================] - 0s 241us/step - loss: 0.2582 - acc: 0.9444 - val_loss: 0.2385 - val_acc: 0.9687
Epoch 21/50
72/72 [==============================] - 0s 218us/step - loss: 0.2763 - acc: 0.9028 - val_loss: 0.2171 - val_acc: 0.9687
Epoch 22/50
72/72 [==============================] - 0s 213us/step - loss: 0.3008 - acc: 0.7917 - val_loss: 0.2642 - val_acc: 0.9375
Epoch 23/50
72/72 [==============================] - 0s 251us/step - loss: 0.2627 - acc: 0.8750 - val_loss: 0.1783 - val_acc: 0.9375
Epoch 24/50
72/72 [==============================] - 0s 207us/step - loss: 0.2433 - acc: 0.9444 - val_loss: 0.3100 - val_acc: 0.9062
Epoch 25/50
72/72 [==============================] - 0s 206us/step - loss: 0.2148 - acc: 0.9167 - val_loss: 0.1613 - val_acc: 0.9375
Epoch 26/50
72/72 [==============================] - 0s 219us/step - loss: 0.1714 - acc: 0.9444 - val_loss: 0.1785 - val_acc: 0.9687
Epoch 27/50
72/72 [==============================] - 0s 215us/step - loss: 0.1554 - acc: 0.9722 - val_loss: 0.1659 - val_acc: 0.9687
Epoch 28/50
72/72 [==============================] - 0s 239us/step - loss: 0.1372 - acc: 0.9861 - val_loss: 0.1359 - val_acc: 0.9375
Epoch 29/50
72/72 [==============================] - 0s 229us/step - loss: 0.1326 - acc: 0.9722 - val_loss: 0.1343 - val_acc: 0.9687
Epoch 30/50
72/72 [==============================] - 0s 229us/step - loss: 0.1193 - acc: 0.9861 - val_loss: 0.1390 - val_acc: 0.9687
Epoch 31/50
72/72 [==============================] - 0s 202us/step - loss: 0.1119 - acc: 0.9722 - val_loss: 0.1110 - val_acc: 0.9687
Epoch 32/50
72/72 [==============================] - 0s 195us/step - loss: 0.0992 - acc: 0.9722 - val_loss: 0.1243 - val_acc: 0.9687
Epoch 33/50
72/72 [==============================] - 0s 203us/step - loss: 0.1158 - acc: 0.9722 - val_loss: 0.1192 - val_acc: 0.9687
Epoch 34/50
72/72 [==============================] - 0s 196us/step - loss: 0.0827 - acc: 0.9861 - val_loss: 0.0975 - val_acc: 0.9687
Epoch 35/50
72/72 [==============================] - 0s 217us/step - loss: 0.0847 - acc: 0.9861 - val_loss: 0.1110 - val_acc: 0.9687
Epoch 36/50
72/72 [==============================] - 0s 202us/step - loss: 0.0842 - acc: 0.9861 - val_loss: 0.0982 - val_acc: 0.9687
Epoch 37/50
72/72 [==============================] - 0s 226us/step - loss: 0.0812 - acc: 0.9861 - val_loss: 0.0988 - val_acc: 0.9687
Epoch 38/50
72/72 [==============================] - 0s 207us/step - loss: 0.0713 - acc: 0.9861 - val_loss: 0.1039 - val_acc: 0.9687
Epoch 39/50
72/72 [==============================] - 0s 220us/step - loss: 0.0628 - acc: 0.9861 - val_loss: 0.0981 - val_acc: 0.9687
Epoch 40/50
72/72 [==============================] - 0s 217us/step - loss: 0.0601 - acc: 0.9861 - val_loss: 0.0878 - val_acc: 0.9687
Epoch 41/50
72/72 [==============================] - 0s 229us/step - loss: 0.1180 - acc: 0.9306 - val_loss: 0.0987 - val_acc: 0.9687
Epoch 42/50
72/72 [==============================] - 0s 219us/step - loss: 0.0814 - acc: 0.9722 - val_loss: 0.1668 - val_acc: 0.9375
Epoch 43/50
72/72 [==============================] - 0s 227us/step - loss: 0.0579 - acc: 0.9861 - val_loss: 0.0859 - val_acc: 0.9687
Epoch 44/50
72/72 [==============================] - 0s 223us/step - loss: 0.0540 - acc: 0.9861 - val_loss: 0.0953 - val_acc: 0.9687
Epoch 45/50
72/72 [==============================] - 0s 213us/step - loss: 0.0815 - acc: 0.9722 - val_loss: 0.0855 - val_acc: 0.9687
Epoch 46/50
72/72 [==============================] - 0s 221us/step - loss: 0.0451 - acc: 0.9861 - val_loss: 0.1482 - val_acc: 0.9375
Epoch 47/50
72/72 [==============================] - 0s 207us/step - loss: 0.0443 - acc: 1.0000 - val_loss: 0.0970 - val_acc: 0.9687
Epoch 48/50
72/72 [==============================] - 0s 234us/step - loss: 0.0441 - acc: 0.9861 - val_loss: 0.0888 - val_acc: 0.9687
Epoch 49/50
72/72 [==============================] - 0s 216us/step - loss: 0.0445 - acc: 0.9861 - val_loss: 0.1258 - val_acc: 0.9375
Epoch 50/50
72/72 [==============================] - 0s 217us/step - loss: 0.0389 - acc: 1.0000 - val_loss: 0.1214 - val_acc: 0.9375

In [31]:
score = model.evaluate(x_test, y_test, verbose=1)

45/45 [==============================] - 0s 101us/step

In [32]:
score

[0.23405558069547017, 0.8888888915379842]

In [33]:
# carichiamo i dati del dataset PIMA

In [34]:
df = pd.read_csv('/Users/valentinaporcu/Desktop/pid.csv')

In [35]:
df.head(5)

,Unnamed: 0,pregnant,glucose,pressure,triceps,insulin,mass,pedigree,age,diabetes
0,1,6,148,72,35,0,33.6,0.627,50,pos
1,2,1,85,66,29,0,26.6,0.351,31,neg
2,3,8,183,64,0,0,23.3,0.672,32,pos
3,4,1,89,66,23,94,28.1,0.167,21,neg
4,5,0,137,40,35,168,43.1,2.288,33,pos

In [36]:
df = df.drop(['Unnamed: 0'], axis=1)

In [37]:
df.head()

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6      148        72       35        0  33.6     0.627   50      pos
1         1       85        66       29        0  26.6     0.351   31      neg
2         8      183        64        0        0  23.3     0.672   32      pos
3         1       89        66       23       94  28.1     0.167   21      neg
4         0      137        40       35      168  43.1     2.288   33      pos

In [38]:
df.shape

(768, 9)

In [39]:
df, cl = (df.iloc[:, 0:8], df['diabetes'])

In [40]:
df.shape

(768, 8)

In [41]:
cl.shape

(768,)

In [42]:
df_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
df1 = df_scaler.fit_transform(df)

In [43]:
cl1 = LabelEncoder().fit_transform(cl)

In [44]:
x_train, x_test, y_train, y_test = train_test_split(df1, cl1, test_size = 0.3)

In [45]:
x_train.shape

(537, 8)

In [46]:
x_test.shape

(231, 8)

In [47]:
y_train.shape

(537,)

In [48]:
y_test.shape

(231,)

In [49]:
y_train = np_utils.to_categorical(y_train, 2)
y_test = np_utils.to_categorical(y_test, 2)

In [50]:
# creazione del modello

In [51]:
model1 = Sequential()
model1.add(layers.Dense(50, input_dim=x_train.shape[1], activation='relu'))
model1.add(layers.Dense(40, activation='relu'))
model1.add(layers.Dense(30, activation='relu'))
model1.add(layers.Dense(25, activation='relu'))
model1.add(layers.Dense(2, activation='sigmoid'))

model1.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 50)                450
_________________________________________________________________
dense_7 (Dense)              (None, 40)                2040
_________________________________________________________________
dense_8 (Dense)              (None, 30)                1230
_________________________________________________________________
dense_9 (Dense)              (None, 25)                775
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 52
=================================================================
Total params: 4,547
Trainable params: 4,547
Non-trainable params: 0
_________________________________________________________________

In [52]:
model1.compile(loss='binary_crossentropy',
              optimizer= 'adam',
              metrics=['accuracy'])

history = model1.fit(x_train, y_train,
                    batch_size = 10, epochs = 50,
                    verbose = 1, validation_split = 0.3)

Train on 375 samples, validate on 162 samples
Epoch 1/50
375/375 [==============================] - 0s 784us/step - loss: 0.6897 - acc: 0.5560 - val_loss: 0.6695 - val_acc: 0.7284
Epoch 2/50
375/375 [==============================] - 0s 173us/step - loss: 0.6727 - acc: 0.6187 - val_loss: 0.6287 - val_acc: 0.7284
Epoch 3/50
375/375 [==============================] - 0s 173us/step - loss: 0.6560 - acc: 0.6267 - val_loss: 0.6055 - val_acc: 0.7253
Epoch 4/50
375/375 [==============================] - 0s 162us/step - loss: 0.6369 - acc: 0.6427 - val_loss: 0.5875 - val_acc: 0.7191
Epoch 5/50
375/375 [==============================] - 0s 161us/step - loss: 0.6162 - acc: 0.6973 - val_loss: 0.5691 - val_acc: 0.7191
Epoch 6/50
375/375 [==============================] - 0s 175us/step - loss: 0.6009 - acc: 0.6933 - val_loss: 0.5369 - val_acc: 0.7315
Epoch 7/50
375/375 [==============================] - 0s 167us/step - loss: 0.5987 - acc: 0.7027 - val_loss: 0.5526 - val_acc: 0.7099
Epoch 8/50
375/375 [==============================] - 0s 168us/step - loss: 0.5606 - acc: 0.7333 - val_loss: 0.5307 - val_acc: 0.6944
Epoch 9/50
375/375 [==============================] - 0s 160us/step - loss: 0.5668 - acc: 0.7200 - val_loss: 0.5416 - val_acc: 0.7160
Epoch 10/50
375/375 [==============================] - 0s 162us/step - loss: 0.5399 - acc: 0.7387 - val_loss: 0.5350 - val_acc: 0.7130
Epoch 11/50
375/375 [==============================] - 0s 162us/step - loss: 0.5492 - acc: 0.7333 - val_loss: 0.5460 - val_acc: 0.7284
Epoch 12/50
375/375 [==============================] - 0s 160us/step - loss: 0.5323 - acc: 0.7520 - val_loss: 0.5105 - val_acc: 0.7068
Epoch 13/50
375/375 [==============================] - 0s 162us/step - loss: 0.5231 - acc: 0.7547 - val_loss: 0.5523 - val_acc: 0.7222
Epoch 14/50
375/375 [==============================] - 0s 165us/step - loss: 0.5054 - acc: 0.7480 - val_loss: 0.5067 - val_acc: 0.7037
Epoch 15/50
375/375 [==============================] - 0s 163us/step - loss: 0.4957 - acc: 0.7627 - val_loss: 0.5573 - val_acc: 0.7222
Epoch 16/50
375/375 [==============================] - 0s 162us/step - loss: 0.4978 - acc: 0.7640 - val_loss: 0.5514 - val_acc: 0.7407
Epoch 17/50
375/375 [==============================] - 0s 162us/step - loss: 0.4875 - acc: 0.7680 - val_loss: 0.5019 - val_acc: 0.7068
Epoch 18/50
375/375 [==============================] - 0s 161us/step - loss: 0.4780 - acc: 0.7707 - val_loss: 0.5060 - val_acc: 0.7099
Epoch 19/50
375/375 [==============================] - 0s 162us/step - loss: 0.4690 - acc: 0.7787 - val_loss: 0.5269 - val_acc: 0.7469
Epoch 20/50
375/375 [==============================] - 0s 161us/step - loss: 0.4764 - acc: 0.7853 - val_loss: 0.5530 - val_acc: 0.7407
Epoch 21/50
375/375 [==============================] - 0s 163us/step - loss: 0.4597 - acc: 0.7827 - val_loss: 0.5547 - val_acc: 0.7191
Epoch 22/50
375/375 [==============================] - 0s 168us/step - loss: 0.4501 - acc: 0.8000 - val_loss: 0.4989 - val_acc: 0.7346
Epoch 23/50
375/375 [==============================] - 0s 168us/step - loss: 0.4411 - acc: 0.7947 - val_loss: 0.5647 - val_acc: 0.7377
Epoch 24/50
375/375 [==============================] - 0s 166us/step - loss: 0.4705 - acc: 0.7973 - val_loss: 0.4884 - val_acc: 0.7160
Epoch 25/50
375/375 [==============================] - 0s 168us/step - loss: 0.4350 - acc: 0.8027 - val_loss: 0.4840 - val_acc: 0.7253
Epoch 26/50
375/375 [==============================] - 0s 167us/step - loss: 0.4392 - acc: 0.8027 - val_loss: 0.5202 - val_acc: 0.7685
Epoch 27/50
375/375 [==============================] - 0s 169us/step - loss: 0.4238 - acc: 0.8200 - val_loss: 0.4940 - val_acc: 0.7531
Epoch 28/50
375/375 [==============================] - 0s 162us/step - loss: 0.4143 - acc: 0.8173 - val_loss: 0.4885 - val_acc: 0.7191
Epoch 29/50
375/375 [==============================] - 0s 162us/step - loss: 0.4133 - acc: 0.8093 - val_loss: 0.5435 - val_acc: 0.7438
Epoch 30/50
375/375 [==============================] - 0s 168us/step - loss: 0.4106 - acc: 0.8187 - val_loss: 0.5669 - val_acc: 0.7346
Epoch 31/50
375/375 [==============================] - 0s 164us/step - loss: 0.4052 - acc: 0.8107 - val_loss: 0.5031 - val_acc: 0.7284
Epoch 32/50
375/375 [==============================] - 0s 162us/step - loss: 0.3825 - acc: 0.8307 - val_loss: 0.5691 - val_acc: 0.7500
Epoch 33/50
375/375 [==============================] - 0s 161us/step - loss: 0.3980 - acc: 0.8160 - val_loss: 0.5275 - val_acc: 0.7315
Epoch 34/50
375/375 [==============================] - 0s 164us/step - loss: 0.3860 - acc: 0.8373 - val_loss: 0.5157 - val_acc: 0.7222
Epoch 35/50
375/375 [==============================] - 0s 162us/step - loss: 0.3693 - acc: 0.8573 - val_loss: 0.5139 - val_acc: 0.7469
Epoch 36/50
375/375 [==============================] - 0s 169us/step - loss: 0.3894 - acc: 0.8267 - val_loss: 0.5221 - val_acc: 0.7407
Epoch 37/50
375/375 [==============================] - 0s 167us/step - loss: 0.3796 - acc: 0.8413 - val_loss: 0.5281 - val_acc: 0.7562
Epoch 38/50
375/375 [==============================] - 0s 168us/step - loss: 0.3686 - acc: 0.8453 - val_loss: 0.5203 - val_acc: 0.7253
Epoch 39/50
375/375 [==============================] - 0s 169us/step - loss: 0.3641 - acc: 0.8413 - val_loss: 0.5715 - val_acc: 0.7377
Epoch 40/50
375/375 [==============================] - 0s 169us/step - loss: 0.3627 - acc: 0.8360 - val_loss: 0.5937 - val_acc: 0.7407
Epoch 41/50
375/375 [==============================] - 0s 164us/step - loss: 0.3663 - acc: 0.8373 - val_loss: 0.5426 - val_acc: 0.7469
Epoch 42/50
375/375 [==============================] - 0s 168us/step - loss: 0.3495 - acc: 0.8600 - val_loss: 0.5944 - val_acc: 0.7253
Epoch 43/50
375/375 [==============================] - 0s 168us/step - loss: 0.3523 - acc: 0.8653 - val_loss: 0.6145 - val_acc: 0.7407
Epoch 44/50
375/375 [==============================] - 0s 168us/step - loss: 0.3551 - acc: 0.8373 - val_loss: 0.5394 - val_acc: 0.7531
Epoch 45/50
375/375 [==============================] - 0s 162us/step - loss: 0.3422 - acc: 0.8587 - val_loss: 0.5464 - val_acc: 0.7469
Epoch 46/50
375/375 [==============================] - 0s 167us/step - loss: 0.3606 - acc: 0.8440 - val_loss: 0.5655 - val_acc: 0.7099
Epoch 47/50
375/375 [==============================] - 0s 170us/step - loss: 0.3365 - acc: 0.8667 - val_loss: 0.5898 - val_acc: 0.7160
Epoch 48/50
375/375 [==============================] - 0s 169us/step - loss: 0.3427 - acc: 0.8493 - val_loss: 0.5802 - val_acc: 0.7315
Epoch 49/50
375/375 [==============================] - 0s 169us/step - loss: 0.3414 - acc: 0.8600 - val_loss: 0.5530 - val_acc: 0.7438
Epoch 50/50
375/375 [==============================] - 0s 169us/step - loss: 0.3270 - acc: 0.8773 - val_loss: 0.5813 - val_acc: 0.7531

In [53]:
score1 = model1.evaluate(x_test, y_test, verbose=1)

score1

231/231 [==============================] - 0s 43us/step

[0.5483533484595162, 0.7510822513402798]

In [54]:
pred = model1.predict(x_test)

In [55]:
rounded = [np.round(x) for x in pred]

In [56]:
rounded

[array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([0., 1.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32),
 array([1., 0.], dtype=float32)]